<main class="overflow-auto flex-1 h-full min-h-full max-h-full">
  <div class="overflow-auto px-2 pt-4 mx-auto sm:px-6 lg:px-6">
    <%= heading %>
    <%= tab_bar %>
    <%# I mean, you can edit this CSS if you want, but I hope you want to lose 2 hours to iFrame joy? %>
    <section class="flex-auto h-[calc(100vh-10rem)]">
      <div class="flex-1 mt-4 w-full h-full">
        <%= content %>
      </div>
      <%= slideover %>
    </section>
  </div>
</main>
