<div class="overflow-hidden p-4 bg-gradient-to-br rounded-lg border-2 from-light/20 to-light border-mid">
  <dt class="text-base font-medium truncate text-dark"><%= metric %></dt>
  <dd class="mt-1 text-3xl font-medium tracking-tight text-dark"><%= value %></dd>
</div>
