<a href="#" class="block flex-shrink-0 group">
  <div class="flex items-center">
    <div>
      <img class="inline-block w-10 h-10 rounded-full" src="https://avatars.githubusercontent.com/u/663625?v=4" alt="">
    </div>
    <div class="ml-3">
      <p class="text-sm text-black group-hover:text-black/60"><%= user.firstname %> <%= user.lastname %></p>
      <% if metadata %><p class="text-sm text-black/60"><%= metadata %></p><% end %>
    </div>
  </div>
</a>
