<% if user.is_a?(PandaCms::User) %>
  <%= render PandaCms::Admin::UserDisplayComponent.new(user: user, metadata: "#{time_ago_in_words(time)} ago") %>
<% elsif time %>
  <div class="text-black/60"><%= time_ago_in_words(time) %> ago</div>
<% end %>
