/.bundle/
/coverage/
/doc/
/log/*.log
/node_modules/**/*
/pkg/
/spec/dummy/log/*.log
!/spec/dummy/public/*.html
/spec/dummy/storage/
/spec/dummy/tmp/
/spec/examples.txt
/tmp/
/test/
*.gem
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
