<%= render Panda::CMS::Admin::ContainerComponent.new do |component| %>
  <% component.with_heading(text: "Files", level: 1) %>

  <% component.with_slideover(title: "File Details") do %>
    <div class="pt-4 pb-16 space-y-6">
      <div>
        <div class="block overflow-hidden w-full rounded-lg aspect-h-7 aspect-w-10">
          <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="object-cover">
        </div>
        <div class="flex justify-between items-start mt-4">
          <div>
            <h2 class="text-lg font-medium text-gray-900"><span class="sr-only">Details for </span>IMG_4985.HEIC</h2>
            <p class="text-sm font-medium text-gray-500">3.9 MB</p>
          </div>
          <button type="button" class="flex relative justify-center items-center ml-4 w-8 h-8 text-gray-400 bg-white rounded-full hover:text-gray-500 hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-panda-dark">
            <span class="absolute -inset-1.5"></span>
            <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
            </svg>
            <span class="sr-only">Favorite</span>
          </button>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-gray-900">Information</h3>
        <dl class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
          <div class="flex justify-between py-3 text-sm font-medium">
            <dt class="text-gray-500">Uploaded by</dt>
            <dd class="text-gray-900 whitespace-nowrap">Marie Culver</dd>
          </div>
          <div class="flex justify-between py-3 text-sm font-medium">
            <dt class="text-gray-500">Created</dt>
            <dd class="text-gray-900 whitespace-nowrap">June 8, 2020</dd>
          </div>
          <div class="flex justify-between py-3 text-sm font-medium">
            <dt class="text-gray-500">Last modified</dt>
            <dd class="text-gray-900 whitespace-nowrap">June 8, 2020</dd>
          </div>
          <div class="flex justify-between py-3 text-sm font-medium">
            <dt class="text-gray-500">Dimensions</dt>
            <dd class="text-gray-900 whitespace-nowrap">4032 x 3024</dd>
          </div>
          <div class="flex justify-between py-3 text-sm font-medium">
            <dt class="text-gray-500">Resolution</dt>
            <dd class="text-gray-900 whitespace-nowrap">72 x 72</dd>
          </div>
        </dl>
      </div>
      <div>
        <h3 class="font-medium text-gray-900">Description</h3>
        <div class="flex justify-between items-center mt-2">
          <p class="text-sm italic text-gray-500">Add a description to this image.</p>
          <button type="button" class="flex relative justify-center items-center w-8 h-8 text-gray-400 bg-white rounded-full hover:text-gray-500 hover:bg-gray-100 focus:ring-2 focus:outline-none focus:ring-panda-dark">
            <span class="absolute -inset-1.5"></span>
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
            </svg>
            <span class="sr-only">Add description</span>
          </button>
        </div>
      </div>
      <div>
        <h3 class="font-medium text-gray-900">Shared with</h3>
        <ul role="list" class="mt-2 border-t border-b border-gray-200 divide-y divide-gray-200">
          <li class="flex justify-between items-center py-3">
            <div class="flex items-center">
              <img src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=1024&h=1024&q=80" alt="" class="w-8 h-8 rounded-full">
              <p class="ml-4 text-sm font-medium text-gray-900">Aimee Douglas</p>
            </div>
            <button type="button" class="ml-6 text-sm font-medium bg-white rounded-md focus:ring-2 focus:ring-offset-2 focus:outline-none text-panda-dark hover:text-panda-dark focus:ring-panda-dark">Remove<span class="sr-only"> Aimee Douglas</span></button>
          </li>
          <li class="flex justify-between items-center py-3">
            <div class="flex items-center">
              <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=oilqXxSqey&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="w-8 h-8 rounded-full">
              <p class="ml-4 text-sm font-medium text-gray-900">Andrea McMillan</p>
            </div>
            <button type="button" class="ml-6 text-sm font-medium bg-white rounded-md focus:ring-2 focus:ring-offset-2 focus:outline-none text-panda-dark hover:text-panda-dark focus:ring-panda-dark">Remove<span class="sr-only"> Andrea McMillan</span></button>
          </li>

          <li class="flex justify-between items-center py-2">
            <button type="button" class="flex items-center p-1 -ml-1 bg-white rounded-md focus:ring-2 focus:outline-none group focus:ring-panda-dark">
              <span class="flex justify-center items-center w-8 h-8 text-gray-400 rounded-full border-2 border-gray-300 border-dashed">
                <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
              </span>
              <span class="ml-4 text-sm font-medium text-panda-dark group-hover:text-panda-dark">Share</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="flex gap-x-3">
        <button type="button" class="flex-1 py-2 px-3 text-sm font-semibold text-white bg-black rounded-md shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-panda-dark">Download</button>
        <button type="button" class="flex-1 py-2 px-3 text-sm font-semibold text-gray-900 bg-white rounded-md ring-1 ring-inset shadow-sm hover:bg-gray-50 ring-mid">Delete</button>
      </div>
    </div>
  <% end %>

  <% component.with_tab_bar do %>
    <%= component.with_tab(name: "Recently Viewed", active: true) %>
    <%= component.with_tab(name: "Recently Added") %>
    <%= component.with_tab(name: "Favourited") %>
  <% end %>

  <section>
    <h2 id="gallery-heading" class="sr-only">Recently viewed</h2>
    <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 md:grid-cols-4 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <li class="relative">
        <!-- Current: "ring-2 ring-panda-dark ring-offset-2", Default: "focus-within:ring-2 focus-within:ring-panda-dark focus-within:ring-offset-2 focus-within:ring-offset-gray-100" -->
        <div class="block overflow-hidden w-full bg-gray-100 rounded-lg ring-2 ring-offset-2 ring-panda-dark aspect-w-10 aspect-h-7 group">
          <!-- Current: "", Default: "group-hover:opacity-75" -->
          <img src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="" class="object-cover pointer-events-none">
          <button type="button" class="absolute inset-0 focus:outline-none">
            <span class="sr-only">View details for IMG_4985.HEIC</span>
          </button>
        </div>
        <p class="block mt-2 text-sm font-medium text-gray-900 pointer-events-none truncate">IMG_4985.HEIC</p>
        <p class="block text-sm font-medium text-gray-500 pointer-events-none">3.9 MB</p>
      </li>

      <!-- More files... -->
    </ul>
  </section>
<% end %>
