<%= render "shared/header" %>
  <img src="/panda-cms-assets/panda-nav.png" alt="Panda">
  <h1><%= @page.title %></h1>
  <h2>Homepage Layout</h2>

  <div class="prose">
  <p>On this page we expect:</p>
    <ul>
      <li>Header</li>
      <li>Footer</li>
      <li>Some content</li>
      <li>Tailwind-styled content</li>
      <li>JS injected content through vanilla JS:
        <div class="mt-0 font-bold" id="vanilla-injected-content">
        </div>
      </li>
      <li>JS injected content through <code>hello-controller</code>:
        <div class="mt-0 font-bold" data-controller="hello" id="stimulus-injected-content">
        </div>
      </li>
    </ul>
  </div>

  <%= yield %>

<%= render "shared/footer" %>
