<div class="block flex-shrink-0 group">
  <div class="flex items-center">
    <% unless user.image_url.empty? %>
    <div>
      <img class="inline-block w-10 h-10 rounded-full" src="<%= user.image_url %>" alt="">
    </div>
    <% else %>
    <div class="inline-block w-10 h-10 bg-gray-200 rounded-full">
      <span class="text-center"><i class="text-mid/50 text-4xl fa-sharp fa-circle-user fa-fw"></i></span>
    </div>
    <% end %>
    <div class="ml-3">
      <p class="text-sm text-black"><%= user.firstname %> <%= user.lastname %></p>
      <% if metadata %><p class="text-sm text-black/60"><%= metadata %></p><% end %>
    </div>
  </div>
</div>
