<% @menu_items.each do |menu_item| %>
  <a href="<%= menu_item.resolved_link %>" class="<%= menu_item.css_classes %>"><%= menu_item.text %></a>
  <% if @render_page_menu && menu_item.page %>
    <%= render PandaCms::PageMenuComponent.new(page: menu_item.page, start_depth: 1, styles: @page_menu_styles, show_heading: false) %>
  <% end %>
<% end %>
