<% @menu_items.each do |menu_item| %>
  <a href="<%= menu_item.resolved_link %>" class="<%= menu_item.css_classes %>"><%= menu_item.text %></a>
  <% if @render_page_menu %>
    <%= render PandaCms::PageMenuComponent.new(page: @current_page, start_depth: 1, styles: @page_menu_styles) %>
  <% end %>
<% end %>
