<div class="w-full grid <%= @columns %> min-h-20">
  <% @colspans.each do |colspan| %>
    <div class="border border-red-500 bg-red-50 <%= colspan %>" onDragOver="parent.onDragOver(event);" onDrop="parent.onDrop(event);">
    </div>
  <% end %>
</div>
